<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bubblespace</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/simple-sidebar.css")
    @Styles.Render("~/Content/perfect-scrollbar.css")
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top frontPageTop">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a onclick="refresh(); return false;" class="navbar-brand">(B)</a>
        </div>
        <div class="navbar-collapse collapse">            
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li><a onclick="friendsTab(); return false;" title="Friends" id="nav-button-friends"></a></li>
            <li><a onclick="groupsTab(); return false;" title="Groups" id="nav-button-groups"></a></li>
            <li><a onclick="eventsTab(); return false;" title="Events" id="nav-button-events"></a></li>
            <li><a onclick="chatTab(); return false;" title="Chat" id="nav-button-chat"></a></li>
            <li><a onclick="settingsTab(); return false;" title="Settings" id="nav-button-settings"></a></li>
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - Bubblespace</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/perfect-scrollbar.jquery.js")
    @Scripts.Render("~/Scripts/perfect-scrollbar.js")
    @Scripts.Render("~/Scripts/bootstrap-filestyle.min.js")
    @Scripts.Render("~/Scripts/ajax.js")
    @Scripts.Render("~/Scripts/scrollbar.js")
    @Scripts.Render("~/Scripts/jquery-ui.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>